DB_HOST=localhost
DB_PORT=5432
DB_NAME=virtual_store
DB_USER=virtual_store_user
DB_PASSWORD=virtual_store_password
BACKEND_PORT=8080
FRONT_PORT=5173
VITE_API_BASE_URL=https://service.andromeda.andrescortes.dev

POSTGRES_DB=virtual_store
POSTGRES_USER=virtual_store_user
POSTGRES_PASSWORD=virtual_store_password
POSTGRES_PORT=5432
